* {
    box-sizing: border-box;
}

form {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    flex-wrap: wrap;
}

#match-list {
    padding-top: 12px;
    background-color: #eee;
    display: flex;
    flex-direction: column;
}

input {
    font-size: 18px;
    height: 40px;
}

.suggestions {
    padding: 12px 6px;
}

button {
    margin-top: 24px;
}